@media (max-width: 769px) {
  body {
    background-image: url('images/bg-pattern-top-mobile.svg'), url('images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
  }

  main.container-geral {
    margin: 3rem;
  }

  div.cima-geral-content,
  section.baixo-geral {
    flex-direction: column;
  }

  div.cima-geral-content .cima-esquerda {
    padding-right: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .avaliacoes-geral {
    padding-right: 0;
  }

  .avaliacao1,
  .avaliacao2,
  .avaliacao3 {
    margin: .5rem auto;
    flex-direction: column;
  }
}